.accent-lined {
  display: inline-block;
}

.accent-lined:after {
  animation: stretch .5s ease-in-out;
  background-image: var(--accent-gradient);
  border: var(--border);
  border-left: none;
  border-right: none;
  border-radius: 1000px;
  box-shadow: var(--inset-highlight);
  content: '';
  display: block;
  height: 4px;
  margin: 4px 0;
  width: 65%;
}
