* { transition: background .2s ease-in-out; }
a { transition: color .2s ease-in-out; }

@keyframes stretch {
  0% { width: 0; }
  80% { width: 80%; }
  100% { width: 65%; }
}

@keyframes load {
  0% {
    transform: translateY(1vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }
  70% {
    left: 0;
    width: 100%;
  }
}
