figure {
  margin: 2rem 0;
  text-align: center;
  display: grid;

  * {
    margin: 0;
    max-width: 100%;
  }

    img {
    display: block;
    vertical-align: middle;
    background-color: var(--bg-alt);
    border-radius: .25rem;
    box-shadow: var(--shadow-hvr), var(--outset-highlight);
    width: 100%;
  }

  figcaption {
    color: var(--txt-fine);
    font-size: 0.8rem;
    margin: 1em auto 4em;
    text-align: center;
  }
}

figure.full-width {
  img {
    border-radius: none;
  }
}
