.notification {
  background: var(--panel-bg);
  background-image: var(--outset-bg);
  border: var(--border);
  border-radius: .25rem;
  box-shadow: var(--outset-highlight), var(--shadow);
  color: var(--panel-txt);
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0 auto;
  padding: .25rem;
  width: 100%;
  
  .close-btn {
    margin-right: .5rem;
  }
  
  .notification-btn {
    padding: .25rem .5rem;
    font-size: .8rem;
    margin: 0 .25rem;
    box-shadow: none;
    opacity: .8;
  }
}
