//==========================================================================================================================================================================================================//
// Halloween
//==========================================================================================================================================================================================================//
.halloween,
.light.halloween {
  // Light styles
  --accent-color: #{$orange-700};
  --accent-gradient: linear-gradient(rgba(0, 0, 0, .1), transparent), linear-gradient(to right, #{$orange-300}, #{$purple-300}, #{$cyan-300});

  --sel-bg-main: #{$orange-100};
  --sel-bg-alt: #{$purple-100};
  --sel-txt-main: #{$orange-900};
  --sel-txt-alt: #{$purple-900};

  --ln-txt: var(--accent-color);

  --checked-bg: var(--accent-color);

  .primary {
    --ln-txt: #{$orange-700};
    --ln-hvr: #{$orange-500};
    --ln-act: #{$orange-900};
    --ln-ul: none;

    --btn-bg: #{$orange-100};
    --btn-txt: #{$orange-900};

    --switch-bg: #{$orange-300};

    --panel-bg: #{rgba($orange-100, .2)};
    --panel-txt: #{$orange-900};

    --progress-bg: #{$orange-300};

    --tag-bg: #{rgba($orange-100, .2)};
    --tag-txt: #{$orange-900};
    --tag-txt-hvr: #{$orange-700};
    --tag-txt-act: #{$orange-900};

    --checked-bg: #{$orange-700};
  }

  .seasonal-type {
    color: var(--accent-color);
    text-transform: uppercase;
  }
}

@media( prefers-color-scheme: dark ) {
  .halloween {
    // dark styles
    --accent-color: #{$orange-300};
    --accent-gradient: linear-gradient(rgba(0,0,0,0.1), transparent), linear-gradient(to right, #{$orange-700}, #{$purple-700},
  #{$cyan-700});

    --sel-bg-main: #{$orange-900};
    --sel-bg-alt: #{$purple-900};
    --sel-txt-main: #{$orange-100};
    --sel-txt-alt: #{$purple-100};

    --ln-txt: var(--accent-color);

    --checked-bg: var(--accent-color);
    --checked: #{bg-img-svg('check', $orange-900)};

    .primary {
      --ln-txt: #{$orange-300};
      --ln-hvr: #{$orange-100};
      --ln-act: #{$orange-500};
      --ln-ul: none;

      --btn-bg: #{mix($orange-900, $dark-grey-900)};
      --btn-txt: #{$orange-100};

      --switch-bg: #{$orange-700};

      --panel-bg: #{rgba($orange-900, .2)};
      --panel-txt: #{$orange-100};

      --progress-bg: #{$orange-700};

      --tag-bg: #{rgba($orange-900, .2)};
      --tag-txt: #{$orange-100};
      --tag-txt-hvr: #{$orange-300};
      --tag-txt-act: #{$orange-100};

      --checked-bg: #{$orange-300};
      --checked: #{bg-img-svg('check', $orange-900)};
    }
  }
}

.dark.halloween {
  // dark styles
  --accent-color: #{$orange-300};
  --accent-gradient: linear-gradient(rgba(0,0,0,0.1), transparent), linear-gradient(to right, #{$orange-700}, #{$purple-700},
#{$cyan-700});

  --sel-bg-main: #{$orange-900};
  --sel-bg-alt: #{$purple-900};
  --sel-txt-main: #{$orange-100};
  --sel-txt-alt: #{$purple-100};

  --ln-txt: var(--accent-color);

  --checked-bg: var(--accent-color);
  --checked: #{bg-img-svg('check', $orange-900)};

  .primary {
    --ln-txt: #{$orange-300};
    --ln-hvr: #{$orange-100};
    --ln-act: #{$orange-500};
    --ln-ul: none;

    --btn-bg: #{mix($orange-900, $dark-grey-900)};
    --btn-txt: #{$orange-100};

    --switch-bg: #{$orange-700};

    --panel-bg: #{rgba($orange-900, .2)};
    --panel-txt: #{$orange-100};

    --progress-bg: #{$orange-700};

    --tag-bg: #{rgba($orange-900, .2)};
    --tag-txt: #{$orange-100};
    --tag-txt-hvr: #{$orange-300};
    --tag-txt-act: #{$orange-100};

    --checked-bg: #{$orange-300};
    --checked: #{bg-img-svg('check', $orange-900)};
  }
}

.halloween,
.light.halloween {
  background: {
    image: #{bg-img-svg('halloween', $light-grey-500)};
    position: top left;
    size: 256px;
    repeat: no-repeat;
  }
}

@media( prefers-color-scheme: dark ) {
  .halloween {
    background: {
      image: #{bg-img-svg('halloween', $dark-grey-500)};
      position: top left;
      size: 256px;
      repeat: no-repeat;
    }
  }
}

.dark.halloween {
  background: {
    image: #{bg-img-svg('halloween', $dark-grey-500)};
    position: top left;
    size: 256px;
    repeat: no-repeat;
  }
}

//==========================================================================================================================================================================================================//
// Thanksgiving
//==========================================================================================================================================================================================================//
.thanksgiving,
.light.thanksgiving {
  // Light styles
  --accent-color: #{$brown-700};
  --accent-gradient: linear-gradient(rgba(0, 0, 0, .1), transparent), linear-gradient(to right, #{$brown-300}, #{$orange-300}, #{$yellow-300});

  --sel-bg-main: #{$brown-100};
  --sel-bg-alt: #{$orange-100};
  --sel-txt-main: #{$brown-900};
  --sel-txt-alt: #{$orange-900};

  --ln-txt: #{$orange-700};
  --ln-hvr: #{$yellow-700};
  --ln-act: #{$red-700};

  --checked-bg: var(--accent-color);

  .primary {
    --ln-txt: #{$brown-700};
    --ln-hvr: #{$brown-500};
    --ln-act: #{$brown-900};
    --ln-ul: none;

    --btn-bg: #{$brown-100};
    --btn-txt: #{$brown-900};

    --switch-bg: #{$brown-300};

    --panel-bg: #{rgba($brown-100, .2)};
    --panel-txt: #{$brown-900};

    --progress-bg: #{$brown-300};

    --tag-bg: #{rgba($brown-100, .2)};
    --tag-txt: #{$brown-900};
    --tag-txt-hvr: #{$brown-700};
    --tag-txt-act: #{$brown-900};

    --checked-bg: #{$brown-700};
  }

  .secondary {
    --ln-txt: #{$orange-700};
    --ln-hvr: #{$orange-500};
    --ln-act: #{$orange-900};
    --ln-ul: none;

    --btn-bg: #{$orange-100};
    --btn-txt: #{$orange-900};

    --switch-bg: #{$orange-300};

    --panel-bg: #{rgba($orange-100, .2)};
    --panel-txt: #{$orange-900};

    --progress-bg: #{$orange-300};

    --tag-bg: #{rgba($orange-100, .2)};
    --tag-txt: #{$orange-900};
    --tag-txt-hvr: #{$orange-700};
    --tag-txt-act: #{$orange-900};

    --checked-bg: #{$orange-700};
  }

  .tertiary {
    --ln-txt: #{$yellow-700};
    --ln-hvr: #{$yellow-500};
    --ln-act: #{$yellow-900};
    --ln-ul: none;

    --btn-bg: #{$yellow-100};
    --btn-txt: #{$yellow-900};

    --switch-bg: #{$yellow-300};

    --panel-bg: #{rgba($yellow-100, .2)};
    --panel-txt: #{$yellow-900};

    --progress-bg: #{$yellow-300};

    --tag-bg: #{rgba($yellow-100, .2)};
    --tag-txt: #{$yellow-900};
    --tag-txt-hvr: #{$yellow-700};
    --tag-txt-act: #{$yellow-900};

    --checked-bg: #{$yellow-700};
  }
}

@media( prefers-color-scheme: dark ) {
  .thanksgiving {
    // dark styles
    --accent-color: #{$brown-300};
    --accent-gradient: linear-gradient(rgba(0,0,0,0.1), transparent), linear-gradient(to right, #{$brown-700}, #{$orange-700}, #{$yellow-700});

    --sel-bg-main: #{$brown-900};
    --sel-bg-alt: #{$orange-900};
    --sel-txt-main: #{$brown-100};
    --sel-txt-alt: #{$orange-100};

    --ln-txt: #{$orange-300};
    --ln-hvr: #{$yellow-300};
    --ln-act: #{$red-300};

    --checked-bg: var(--accent-color);
    --checked: #{bg-img-svg('check', $brown-900)};

    .primary {
      --ln-txt: #{$brown-300};
      --ln-hvr: #{$brown-100};
      --ln-act: #{$brown-500};
      --ln-ul: none;

      --btn-bg: #{mix($brown-900, $dark-grey-900)};
      --btn-txt: #{$brown-100};

      --switch-bg: #{$brown-700};

      --panel-bg: #{rgba($brown-900, .2)};
      --panel-txt: #{$brown-100};

      --progress-bg: #{$brown-700};

      --tag-bg: #{rgba($brown-900, .2)};
      --tag-txt: #{$brown-100};
      --tag-txt-hvr: #{$brown-300};
      --tag-txt-act: #{$brown-100};

      --checked-bg: #{$brown-300};
      --checked: #{bg-img-svg('check', $brown-900)};
    }

    .secondary {
      --ln-txt: #{$orange-300};
      --ln-hvr: #{$orange-100};
      --ln-act: #{$orange-500};
      --ln-ul: none;

      --btn-bg: #{mix($orange-900, $dark-grey-900)};
      --btn-txt: #{$orange-100};

      --switch-bg: #{$orange-700};

      --panel-bg: #{rgba($orange-900, .2)};
      --panel-txt: #{$orange-100};

      --progress-bg: #{$orange-700};

      --tag-bg: #{rgba($orange-900, .2)};
      --tag-txt: #{$orange-100};
      --tag-txt-hvr: #{$orange-300};
      --tag-txt-act: #{$orange-100};

      --checked-bg: #{$orange-300};
      --checked: #{bg-img-svg('check', $orange-900)};
    }

    .tertiary {
      --ln-txt: #{$yellow-300};
      --ln-hvr: #{$yellow-100};
      --ln-act: #{$yellow-500};
      --ln-ul: none;

      --btn-bg: #{mix($yellow-900, $dark-grey-900)};
      --btn-txt: #{$yellow-100};

      --switch-bg: #{$yellow-700};

      --panel-bg: #{rgba($yellow-900, .2)};
      --panel-txt: #{$yellow-100};

      --progress-bg: #{$yellow-700};

      --tag-bg: #{rgba($yellow-900, .2)};
      --tag-txt: #{$yellow-100};
      --tag-txt-hvr: #{$yellow-300};
      --tag-txt-act: #{$yellow-100};

      --checked-bg: #{$yellow-300};
      --checked: #{bg-img-svg('check', $yellow-900)};
    }
  }
}

.dark.thanksgiving {
  // dark styles
  --accent-color: #{$brown-300};
  --accent-gradient: linear-gradient(rgba(0,0,0,0.1), transparent), linear-gradient(to right, #{$brown-700}, #{$orange-700}, #{$yellow-700});

  --sel-bg-main: #{$brown-900};
  --sel-bg-alt: #{$orange-900};
  --sel-txt-main: #{$brown-100};
  --sel-txt-alt: #{$orange-100};

  --ln-txt: #{$orange-300};
  --ln-hvr: #{$yellow-300};
  --ln-act: #{$red-300};

  --checked-bg: var(--accent-color);
  --checked: #{bg-img-svg('check', $brown-900)};

  .primary {
    --ln-txt: #{$brown-300};
    --ln-hvr: #{$brown-100};
    --ln-act: #{$brown-500};
    --ln-ul: none;

    --btn-bg: #{mix($brown-900, $dark-grey-900)};
    --btn-txt: #{$brown-100};

    --switch-bg: #{$brown-700};

    --panel-bg: #{rgba($brown-900, .2)};
    --panel-txt: #{$brown-100};

    --progress-bg: #{$brown-700};

    --tag-bg: #{rgba($brown-900, .2)};
    --tag-txt: #{$brown-100};
    --tag-txt-hvr: #{$brown-300};
    --tag-txt-act: #{$brown-100};

    --checked-bg: #{$brown-300};
    --checked: #{bg-img-svg('check', $brown-900)};
  }

  .secondary {
    --ln-txt: #{$orange-300};
    --ln-hvr: #{$orange-100};
    --ln-act: #{$orange-500};
    --ln-ul: none;

    --btn-bg: #{mix($orange-900, $dark-grey-900)};
    --btn-txt: #{$orange-100};

    --switch-bg: #{$orange-700};

    --panel-bg: #{rgba($orange-900, .2)};
    --panel-txt: #{$orange-100};

    --progress-bg: #{$orange-700};

    --tag-bg: #{rgba($orange-900, .2)};
    --tag-txt: #{$orange-100};
    --tag-txt-hvr: #{$orange-300};
    --tag-txt-act: #{$orange-100};

    --checked-bg: #{$orange-300};
    --checked: #{bg-img-svg('check', $orange-900)};
  }

  .tertiary {
    --ln-txt: #{$yellow-300};
    --ln-hvr: #{$yellow-100};
    --ln-act: #{$yellow-500};
    --ln-ul: none;

    --btn-bg: #{mix($yellow-900, $dark-grey-900)};
    --btn-txt: #{$yellow-100};

    --switch-bg: #{$yellow-700};

    --panel-bg: #{rgba($yellow-900, .2)};
    --panel-txt: #{$yellow-100};

    --progress-bg: #{$yellow-700};

    --tag-bg: #{rgba($yellow-900, .2)};
    --tag-txt: #{$yellow-100};
    --tag-txt-hvr: #{$yellow-300};
    --tag-txt-act: #{$yellow-100};

    --checked-bg: #{$yellow-300};
    --checked: #{bg-img-svg('check', $yellow-900)};
  }
}

.thanksgiving .logotype {
  --ln-txt: var(--txt-main);
  --ln-hvr: var(--accent-color);
  --ln-act: #{$orange-700};
  --ln-ul: none;

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-main);
    --ln-hvr: var(--accent-color);
    --ln-act: #{$orange-300};
    --ln-ul: none;
  }
}

.dark.thanksgiving .logotype {
  --ln-txt: var(--txt-main);
  --ln-hvr: var(--accent-color);
  --ln-act: #{$orange-300};
  --ln-ul: none;
}

.thanksgiving,
.light.thanksgiving {
  background: {
    image: #{bg-img-svg('thanksgiving', $light-grey-500)};
    position: top center;
    size: contain;
    repeat: no-repeat;
  }
}

@media( prefers-color-scheme: dark ) {
  .thanksgiving {
    background: {
      image: #{bg-img-svg('thanksgiving', $dark-grey-500)};
      position: top center;
      size: contain;
      repeat: no-repeat;
    }
  }
}

.dark.thanksgiving {
  background: {
    image: #{bg-img-svg('thanksgiving', $dark-grey-500)};
    position: top center;
    size: contain;
    repeat: no-repeat;
  }
}

//==========================================================================================================================================================================================================//
// Christmas
//==========================================================================================================================================================================================================//
.christmas,
.light.christmas {
  // Light styles
  --accent-color: #{$red-700};
  --accent-gradient: #{repeating-linear-gradient( 45deg, $red-300, $red-300 10px, white 10px, white 20px, $green-300 20px, $green-300 30px, white 30px, white 40px)};

  --sel-bg-main: #{$red-100};
  --sel-bg-alt: #{$green-100};
  --sel-txt-main: #{$red-900};
  --sel-txt-alt: #{$green-900};

  --ln-txt: var(--accent-color);
  --ln-hvr: #{$green-700};
  --ln-act: #{$blue-700};

  --checked-bg: var(--accent-color);

  .primary {
    --ln-txt: #{$red-700};
    --ln-hvr: #{$red-500};
    --ln-act: #{$red-900};
    --ln-ul: none;

    --btn-bg: #{$red-100};
    --btn-txt: #{$red-900};

    --switch-bg: #{$red-300};

    --panel-bg: #{rgba($red-100, .2)};
    --panel-txt: #{$red-900};

    --progress-bg: #{$red-300};

    --tag-bg: #{rgba($red-100, .2)};
    --tag-txt: #{$red-900};
    --tag-txt-hvr: #{$red-700};
    --tag-txt-act: #{$red-900};

    --checked-bg: #{$red-700};
  }

  .secondary {
    --ln-txt: #{$green-700};
    --ln-hvr: #{$green-500};
    --ln-act: #{$green-900};
    --ln-ul: none;

    --btn-bg: #{$green-100};
    --btn-txt: #{$green-900};

    --switch-bg: #{$green-300};

    --panel-bg: #{rgba($green-100, .2)};
    --panel-txt: #{$green-900};

    --progress-bg: #{$green-300};

    --tag-bg: #{rgba($green-100, .2)};
    --tag-txt: #{$green-900};
    --tag-txt-hvr: #{$green-700};
    --tag-txt-act: #{$green-900};

    --checked-bg: #{$green-700};
  }

  .tertiary {
    --ln-txt: #{$blue-700};
    --ln-hvr: #{$blue-500};
    --ln-act: #{$blue-900};
    --ln-ul: none;

    --btn-bg: #{$blue-100};
    --btn-txt: #{$blue-900};

    --switch-bg: #{$blue-300};

    --panel-bg: #{rgba($blue-100, .2)};
    --panel-txt: #{$blue-900};

    --progress-bg: #{$blue-300};

    --tag-bg: #{rgba($blue-100, .2)};
    --tag-txt: #{$blue-900};
    --tag-txt-hvr: #{$blue-700};
    --tag-txt-act: #{$blue-900};

    --checked-bg: #{$blue-700};
  }
}

@media( prefers-color-scheme: dark ) {
  .christmas {
    // dark styles
    --accent-color: #{$red-300};
    --accent-gradient: #{repeating-linear-gradient( 45deg, $red-700, $red-700 10px, white 10px, white 20px, $green-700 20px, $green-700 30px, white 30px, white 40px)};

    --sel-bg-main: #{$red-900};
    --sel-bg-alt: #{$green-900};
    --sel-txt-main: #{$red-100};
    --sel-txt-alt: #{$green-100};

    --ln-txt: var(--accent-color);
    --ln-hvr: #{$green-300};
    --ln-act: #{$blue-300};

    --checked: #{bg-img-svg('check', $red-900)};

    .primary {
      --ln-txt: #{$red-300};
      --ln-hvr: #{$red-100};
      --ln-act: #{$red-500};
      --ln-ul: none;

      --btn-bg: #{mix($red-900, $dark-grey-900)};
      --btn-txt: #{$red-100};

      --switch-bg: #{$red-700};

      --panel-bg: #{rgba($red-900, .2)};
      --panel-txt: #{$red-100};

      --progress-bg: #{$red-700};

      --tag-bg: #{rgba($red-900, .2)};
      --tag-txt: #{$red-100};
      --tag-txt-hvr: #{$red-300};
      --tag-txt-act: #{$red-100};

      --checked-bg: #{$red-300};
      --checked: #{bg-img-svg('check', $red-900)};
    }

    .secondary {
      --ln-txt: #{$green-300};
      --ln-hvr: #{$green-100};
      --ln-act: #{$green-500};
      --ln-ul: none;

      --btn-bg: #{mix($green-900, $dark-grey-900)};
      --btn-txt: #{$green-100};

      --switch-bg: #{$green-700};

      --panel-bg: #{rgba($green-900, .2)};
      --panel-txt: #{$green-100};

      --progress-bg: #{$green-700};

      --tag-bg: #{rgba($green-900, .2)};
      --tag-txt: #{$green-100};
      --tag-txt-hvr: #{$green-300};
      --tag-txt-act: #{$green-100};

      --checked-bg: #{$green-300};
      --checked: #{bg-img-svg('check', $green-900)};
    }

    .tertiary {
      --ln-txt: #{$blue-300};
      --ln-hvr: #{$blue-100};
      --ln-act: #{$blue-500};
      --ln-ul: none;

      --btn-bg: #{mix($blue-900, $dark-grey-900)};
      --btn-txt: #{$blue-100};

      --switch-bg: #{$blue-700};

      --panel-bg: #{rgba($blue-900, .2)};
      --panel-txt: #{$blue-100};

      --progress-bg: #{$blue-700};

      --tag-bg: #{rgba($blue-900, .2)};
      --tag-txt: #{$blue-100};
      --tag-txt-hvr: #{$blue-300};
      --tag-txt-act: #{$blue-100};

      --checked-bg: #{$blue-300};
      --checked: #{bg-img-svg('check', $blue-900)};
    }
  }
}

.dark.christmas {
  // dark styles
  --accent-color: #{$red-300};
  --accent-gradient: #{repeating-linear-gradient( 45deg, $red-700, $red-700 10px, white 10px, white 20px, $green-700 20px, $green-700 30px, white 30px, white 40px)};

  --sel-bg-main: #{$red-900};
  --sel-bg-alt: #{$green-900};
  --sel-txt-main: #{$red-100};
  --sel-txt-alt: #{$green-100};

  --ln-txt: var(--accent-color);
  --ln-hvr: #{$green-300};
  --ln-act: #{$blue-300};

  --checked-bg: var(--accent-color);
  --checked: #{bg-img-svg('check', $red-900)};

  .primary {
    --ln-txt: #{$red-300};
    --ln-hvr: #{$red-100};
    --ln-act: #{$red-500};
    --ln-ul: none;

    --btn-bg: #{mix($red-900, $dark-grey-900)};
    --btn-txt: #{$red-100};

    --switch-bg: #{$red-700};

    --panel-bg: #{rgba($red-900, .2)};
    --panel-txt: #{$red-100};

    --progress-bg: #{$red-700};

    --tag-bg: #{rgba($red-900, .2)};
    --tag-txt: #{$red-100};
    --tag-txt-hvr: #{$red-300};
    --tag-txt-act: #{$red-100};

    --checked-bg: #{$red-300};
    --checked: #{bg-img-svg('check', $red-900)};
  }

  .secondary {
    --ln-txt: #{$green-300};
    --ln-hvr: #{$green-100};
    --ln-act: #{$green-500};
    --ln-ul: none;

    --btn-bg: #{mix($green-900, $dark-grey-900)};
    --btn-txt: #{$green-100};

    --switch-bg: #{$green-700};

    --panel-bg: #{rgba($green-900, .2)};
    --panel-txt: #{$green-100};

    --progress-bg: #{$green-700};

    --tag-bg: #{rgba($green-900, .2)};
    --tag-txt: #{$green-100};
    --tag-txt-hvr: #{$green-300};
    --tag-txt-act: #{$green-100};

    --checked-bg: #{$green-300};
    --checked: #{bg-img-svg('check', $green-900)};
  }

  .tertiary {
    --ln-txt: #{$blue-300};
    --ln-hvr: #{$blue-100};
    --ln-act: #{$blue-500};
    --ln-ul: none;

    --btn-bg: #{mix($blue-900, $dark-grey-900)};
    --btn-txt: #{$blue-100};

    --switch-bg: #{$blue-700};

    --panel-bg: #{rgba($blue-900, .2)};
    --panel-txt: #{$blue-100};

    --progress-bg: #{$blue-700};

    --tag-bg: #{rgba($blue-900, .2)};
    --tag-txt: #{$blue-100};
    --tag-txt-hvr: #{$blue-300};
    --tag-txt-act: #{$blue-100};

    --checked-bg: #{$blue-300};
    --checked: #{bg-img-svg('check', $blue-900)};
  }
}

.christmas .logotype {
  --ln-txt: var(--txt-main);
  --ln-hvr: var(--accent-color);
  --ln-act: #{$green-700};
  --ln-ul: none;

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-main);
    --ln-hvr: var(--accent-color);
    --ln-act: #{$green-300};
    --ln-ul: none;
  }
}

.dark.christmas .logotype {
  --ln-txt: var(--txt-main);
  --ln-hvr: var(--accent-color);
  --ln-act: #{$green-300};
  --ln-ul: none;
}

.christmas,
.light.christmas {
  background: {
    image: #{bg-img-svg('christmas', $light-grey-100)};
    position: top center;
    size: contain;
    repeat: no-repeat;
  }
}

@media( prefers-color-scheme: dark ) {
  .christmas {
    background: {
      image: #{bg-img-svg('christmas', $dark-grey-500)};
      position: top center;
      size: contain;
      repeat: no-repeat;
    }
  }
}

.dark.christmas {
  background: {
    image: #{bg-img-svg('christmas', $dark-grey-500)};
    position: top center;
    size: contain;
    repeat: no-repeat;
  }
}
