.shades-icon {
  fill: currentColor;
  height: 16px;
  width: 16px;
  vertical-align: middle;

  .size-2x {
    height: 32px;
    width: 32px;
  }

  .size-3x {
    height: 48px;
    width: 48px;
  }

  .size-4x {
    height: 64px;
    width: 64px;
  }
}
