.shades-icon {
  fill: currentColor;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.shades-icon.size-2x {
    height: 32px;
    width: 32px;
  }

.shades-icon.size-3x {
    height: 48px;
    width: 48px;
  }

.shades-icon.size-4x {
    height: 64px;
    width: 64px;
  }
